body {
  background-color: #29204b;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

.wrapper {
  padding: 50px;
}

.menu__item:hover:first-child {
  color: red;
}

/* Это сработало! */