.animated-text {
  font-size: 3rem;
  animation: changing-color 1s ease-in-out infinite alternate;
  max-width: 1000px;
  /* name duration timing-function delay iteration-count direction fill-mode */
}

@keyframes changing-color {
  0% {
    color: red;
  }
  100% {
    color: black;
  }
} 

/* ---------------------------------------------------------------- */

.wrapper {
  padding: 5px;
}

.system {
  width: 800px;
  height: 800px;
  position: relative;
  background-color: black;
  border-radius: 50%;
  /* animation: rotate 4s linear infinite alternate-reverse; */
}

.star {
  width: 120px;
  height: 120px;
  background-color: orange;
  border-radius: 45%;
  position: absolute;
  top: 340px;
  left: 340px;
}

.star-half1 {
  animation: rotate 4s linear infinite;
}

.star-half2 {
  animation: rotate 6s linear infinite reverse;
}

.orbit1 {
  width: 16px;
  height: 16px;
  /* border: 1px solid #fff; */
  position: absolute;
  top: 250px;
  left: 250px;
  transform-origin: 150px 150px;
  animation: rotate 16s linear infinite reverse;
}

.orbit2 {
  width: 16px;
  height: 16px;
  /* border: 1px solid #fff; */
  position: absolute;
  top: 175px;
  left: 175px;
  transform-origin: 225px 225px;
  animation: rotate 24s linear infinite;
}

.orbit1__planet {
  width: 50%;
  height: 50%;
  background-color: orangered;
  animation: rotate 1.5s linear infinite;
}

.orbit2__planet {
  width: 100%;
  height: 100%;
  background-color: deepskyblue;
  animation: rotate 3s linear infinite reverse, 
  planet-color 1s ease-in infinite alternate;
}

.orbit2__satellite {
  width: 25%;
  height: 25%;
  background-color: lightgrey;
  position: relative;
  top: -38px;
  left: -22px;
  /* top: -8px;
  left: 8px; */
  transform-origin: 30px 30px;
  animation: rotate 1.8s linear infinite reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes planet-color {
  100% {
    background-color: #50c878;
  }
}
